{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "eslint.run": "onType",
  "eslint.options": {
    "extensions": [".js", ".ts", ".jsx", ".tsx"]
  },
  "editor.formatOnSave": true,
  "editor.codeActionsOnSave": {
    "source.fixAll.eslint": true
  },
  "editor.defaultFormatter": " esbenp.prettier-vscode",
  "spaceBeforeFunctionParen": true,

  "bracketSpacing": false
}
